.Results {
  -webkit-animation: loadResults 0.25s ease;
  animation: loadResults 0.25s ease;
}

@-webkit-keyframes loadResults {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadResults {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.innerResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back,
.forward {
  background: #99afd4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 2.2rem;
  font-size: 2rem;
  font-weight: 500;
  outline: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media (min-width: 960px) {
  .back {
    border-radius: 1.1rem 0 0 1.1rem;
  }
  .forward {
    border-radius: 0 1.1rem 1.1rem 0;
  }
}

.back:hover,
.forward:hover {
  cursor: pointer;
  background: #4f5d75;
}

.back:disabled,
.forward:disabled {
  background: #dee4ee;
}

.back:disabled:hover,
.forward:disabled:hover {
  cursor: default;
}
