.innerResults {
  display: flex;
}

.back,
.forward {
  background: #99afd4;
  color: #fff;
  display: flex;
  border: none;
  width: 2.2rem;
  font-size: 2rem;
  font-weight: 500;
  outline: 0;
  transition: 0.3s all ease;
  justify-content: space-around;
  align-content: center;
}

@media (min-width: 960px) {
  .back {
    border-radius: 1.1rem 0 0 1.1rem;
  }
  .forward {
    border-radius: 0 1.1rem 1.1rem 0;
  }
}

.back:hover,
.forward:hover {
  cursor: pointer;
  background: #4f5d75;
}

.back:disabled,
.forward:disabled {
  background: #dee4ee;
}

.back:disabled:hover,
.forward:disabled:hover {
  cursor: default;
}
