@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*****************************
******************* VARIABLES
*****************************/

/* colors */

:root {

}

/* fonts */

:root {
  --main-stack: 'Open Sans', sans-serif;
}

/* dimensions */

:root {

}

/*****************************
************************ BASE
*****************************/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
********************* GENERAL
*****************************/

body {
  font-family: var(--main-stack);
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

.app {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

main {
  width: 90%;
  max-width: 720px;
}