.wrapper {
  display: block;
  width: 80%;
  max-width: 220px;
  margin: 0 auto;
}

.form {
  width: 100%;
  /* background-color: red; */
}

.form li {
  width: 100%;
  margin: 0 auto;
}

.form li label {
  display: block;
  width: 100%;
  padding: 8px 0 4px;
  letter-spacing: 1px;
  text-align: center;
  color: #898989;
}

.form li input {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 4px;
  font-size: 14px;
  letter-spacing: 1.5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  color: #222;
}

.button {
  display: block;
  padding: 0.7rem 1.8rem;
  background: transparent;
  margin: 1rem auto;
  /* border: 1px solid #1967d2; */
  border: none;
  border-radius: 6px;
  outline: 0;
  font-size: 1rem;
  transition: 0.3s all ease;
}

.button:hover {
  cursor: pointer;
}

.Calculate {
  background: #6491d1;
  color: white;
}

.Reset {
  background: #fff;
  color: #6491d1;
}

.Calculate:hover {
  background: #1967d2;
}
