.wrapper {
  display: block;
}

.form {
  margin: 0 auto;
  width: 420px;
  /* background-color: red; */
}

.form li {
  width: 80%;
  margin: 0 auto;
}

.form input {
  width: 100%;
}

.button {
  display: block;
  padding: 0.8rem 2rem;
  background: transparent;
  margin: 1rem auto;
  border-radius: 6px;
  outline: 0;
}

.button:hover {
  cursor: pointer;
}
