.outer {
  position: relative;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: #f5f5f5;
  overflow: hidden;
}

.inner {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
