.wrapper {
  position: relative;
  height: 32px;
  width: 52px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s all ease;
}

.circle {
  height: 32px;
  width: 32px;
  position: absolute;
  left: -2px;
  top: -2px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.wrapper.isEnabled {
  background-color: #99afd4;
  border: 2px solid #99afd4;
}

.circle.isEnabled {
  border: 2px solid #99afd4;
  position: absolute;
  left: 18px;
}
