.wrapperOuter {
  position: absolute;
  display: flex;
  bottom: 2.4rem;
  width: 20%;
  z-index: 150;
}

.wrapperInner {
  padding: 0.4rem 0.8rem;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: white;
  white-space: nowrap;
  overflow: visible;
  z-index: 151;
}

.wrapperInner p {
  font-size: 1rem;
  text-align: center;
}

.marker {
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 100%;
}

.marker__inner {
  margin: 0 auto;
  width: 2px;
  height: 100%;
  /* background: lightpink; */
  /* box-shadow: 0 0 2px lightpink; */
  opacity: 0.6;
  z-index: 152;
  border-left: 1px solid lightpink;
}
