.wrapperOuter {
  position: absolute;
  display: flex;
  bottom: 2.4rem;
  width: 20%;
  z-index: 150;
}

.wrapperInner {
  padding: 0.4rem 0.8rem;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  white-space: nowrap;
  overflow: visible;
  z-index: 151;
}

.wrapperInner p {
  font-size: 1rem;
  color: #222;
  text-align: center;
}

.marker {
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 100%;
}

.marker__inner {
  margin: 0 auto;
  width: 3px;
  height: 100%;
  background: rgba(255, 182, 193, 0.7);
  box-shadow: 0 0 2px rgba(255, 182, 193, 0.7);
  opacity: 0.6;
  z-index: 152;
  /* transition: 0.3s all ease; */
  /* border-left: 1px solid lightpink; */
}
