.wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto 1rem;
  height: 2.4rem;
  border-radius: 1.4rem;
  background: #d16465;
}

.wrapper button {
  font-size: 1.2rem;
}

.adjuster {
  border: 2px solid #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background: #d16465;
  color: #fff;
  outline: none;
  transition: 0.2s all ease;
  padding-bottom: 2px;
}

.adjuster:first-child {
  transform: translateX(0.2rem);
}

.adjuster:last-child {
  transform: translateX(-0.2rem);
}

.adjuster:hover {
  cursor: pointer;
  background: #ba2a2c;
}

.adjuster:disabled {
  color: transparent;
  border: none;
}

.adjuster:disabled:hover {
  cursor: default;
  background: transparent;
}
