/*****************************
******************* VARIABLES
*****************************/

/* colors */
:root {
  --white: #fff;
  --grey00: #ddd;
  --grey01: #777;
  --black: #222;
}

/* fonts */

:root {
  --main-stack: "Open Sans", sans-serif;
}

/* dimensions */

/*****************************
************************ BASE
*****************************/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
********************* GENERAL
*****************************/

body {
  font-family: var(--main-stack);
  height: 100%;
  user-select: none;
  /* background-image: url("./Assets/Images/wallpaper02.png"); */
  /* background-size: 50%; */
  /* background-position: center center; */
  /* box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.3); */
}

ul {
  list-style-type: none;
}
