/*****************************
******************* VARIABLES
*****************************/

/* colors */
:root {
  --white: #fff;
  --grey00: #ddd;
  --grey01: #777;
}

/* fonts */

:root {
  --main-stack: "Open Sans", sans-serif;
}

/* dimensions */

/*****************************
************************ BASE
*****************************/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
********************* GENERAL
*****************************/

body {
  font-family: var(--main-stack);
  height: 100%;
  user-select: none;
}

ul {
  list-style-type: none;
}
