/*****************************
******************* VARIABLES
*****************************/

/* colors */
:root {
  --white: #fff;
  --grey00: #ddd;
  --grey01: #a7a3a0;
  --black: #333;
  --body-bg: #f8f4f1;
  --base-blue-: #c6d7ef;
  --main-blue: #6491d1;
  --accent-blue: #2a66ba;
  --base-red: #e7a8a8;
  --main-red: #d16465;
  --accent-red: #ba2a2c;
  --main-space: #4f5d75;
}

/* fonts */

:root {
  --main-stack: Quicksand, sans-serif;
}

/* dimensions */

/*****************************
************************ BASE
*****************************/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

/*****************************
********************* GENERAL
*****************************/

body {
  font-family: var(--main-stack);
  font-weight: 500;
  height: 100%;
  user-select: none;
  background: #fff7f4;
}

ul {
  list-style-type: none;
}

button {
  font-family: var(--main-stack);
  font-weight: 500;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
