.wrapper {
  padding-top: 100px;
  display: block;
  position: absolute;
  width: 100%;
  left: -100%;
  opacity: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
  transition: 0.2s all ease;
  background-color: #fff7f4;
}

.wrapper.open {
  left: 0;
  opacity: 1;
}

.ul {
  width: 100%;
}

.li {
  width: 100%;
}

.input {
  display: none;
}

.navLabel {
  padding: 1.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-transform: uppercase; */
  width: 100%;
  transition: 0.2s all ease;
  color: #333;
}

.navLabel:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 500px) {
  .wrapper {
    width: 280px;
    left: -280px;
  }
}
