.wrapper {
  padding-top: 100px;
  display: block;
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100%;
  z-index: 1000;
  transition: 0.3s all ease;
  background-color: white;
}

.wrapper.open {
  left: 0;
}

.ul {
  width: 100%;
}

.li {
  width: 100%;
}

.input {
  display: none;
}

.navLabel {
  padding: 1.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
  transition: 0.3s all ease;
  color: #222;
}

.navLabel:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 500px) {
  .wrapper {
    width: 260px;
    left: -260px;
  }
}
